.navbar-demo {
    .nav-demo {
        @include breakpoint($sm) {
            margin-top: 10px;
        }
        @include breakpoint($sm-only) {
            li {
                a.btn-secondary.nav-link {
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
        }

    }

    @include breakpoint($sm-only) {
        .navbar-toggle {
            margin-top: 20px;
        }
    }
}

%title-2 {
    color: #fff;
    font-family: $base-font-condensed;
    font-size: 48px;
    line-height: 1.4;
    font-weight: lighter;
    letter-spacing: 3px;
    margin-bottom: 10px;
    padding-bottom: 0;
    text-shadow: none;
    text-transform: none;
    transition: font 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;

    html[dir="rtl"] body & {
        font-family: 'Cairo', sans-serif;
        line-height: 1.4;
    }
}

.demo-intro {
    min-height: 350px;
    position: relative;
    text-align: center;
    height: 90vh;
    padding: 0 !important;

    .intro-title {
        @extend %title-2;
        @include breakpoint($xs-only) {
            font-size: 28px;
        }
    }


    p.sub {
        max-width: 600px;
        display: inline-block;
        margin: 0 auto;
    }

    .dtable {
        z-index: 2;
    }

    @include breakpoint(0 768px) {
        .container {
            padding: 50px;
        }
    }

}


.gradient-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    opacity: .65;
    right: 0;
    z-index: 0;
    background: #30E8BF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF8235, #30E8BF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF8235, #30E8BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.btn-round {
    position: relative;
    display: inline-block;
    line-height: 24px;
    padding: 12px 30px;
    background: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    border: white 1px solid;
    z-index: 5;
    border-radius: 100px;
}

.btn-box {
    margin-top: 40px;

    .btn {
        margin: 5px;
    }
}

.section.demo {
    padding: 120px 0;
    background: #fff;
    @include breakpoint(0 768px) {
        padding: 60px 0;
    }
}

.demo-featured {
    text-align: center;
    display: block;
    position: relative;
    margin-top: 60px;

    h4 {
        margin-bottom: 0;
        font-size: 18px;
        color: #333;
        letter-spacing: 1px;
        text-transform: uppercase;

    }

    @include breakpoint(0 767px) {
        margin-top: 10px;
        margin-bottom: 30px;
        h4 {
            font-size: 14px;
            letter-spacing: 0.0px;
        }
    }

    a {
        display: block;
        overflow: hidden;
        transition: all .3s ease;
        max-width: 90%;
        padding: 30px;
        margin: 0 auto;
        max-height: 382px;

        img {
            max-width: 100%;
            transition: all .3s ease;
        }

        &:hover {
            img {
                box-shadow: 0 0 35px rgba(0, 0, 0, .3);

            }

        }

        @include breakpoint(0 767px) {
            height: 210px;
            overflow: hidden;
            padding: 0;
        }

    }
}

.demo-section-footer {
    margin-top: 40px;
    text-align: center;
    width: 100%;

    .btn-round {
        border-color: #ccc;

        &:hover {
            border-color: transparent;
        }
    }
}

#featured-rtl {
    border-top: solid 1px #dddddd;
}

@keyframes bg {
    0% {
        background-image: url(../../images/demo/bg/dark.jpg);
    }

    50% {
            background-image: url(../../images/demo/bg/white.jpg);
    }

    100% {
        background-image: url(../../images/demo/bg/dark.jpg);
    }
}


@keyframes bg-2 {
    0% {
        background-image: url(../../images/demo/bg/white.jpg);
    }

    50% {
        background-image: url(../../images/demo/bg/dark.jpg);
    }

    100% {
        background-image: url(../../images/demo/bg/white.jpg);
    }
}


.section-dark-mode {
    height: auto;
    background: #000;
    padding: 80px 0;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    h1 {
        color: white;
    }

    .text-hr {
        background: white;
    }

    .section-bg {
        height: auto;
        width: 800px;
        @include breakpoint($sm-only) {
            max-width: 80%;
        }
        margin: 0 auto;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
    }

    .left, .right {
        height: 100%;
        width: 50%;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        padding-top: 38%;
        animation-duration: 4s;
        animation-delay:4s;
        animation-iteration-count: infinite;
    }

    .left {
        animation-name: bg;

    }

    .right {
        animation-name: bg-2;

    }

}
